// base color
$blue: #456488;
$light-blue: #61a4e3;
$red:#C03639;
$pink: #E65D6E;
$green: #30B08F;
$tiffany: #4AB7BD;
$yellow: #ffd56b;
$panGreen: #30B08F;

// sidebar
$menuText: #fff6d4;
$menuActiveText: #f0dcc1;
$subMenuActiveText: #ffffff; // https://github.com/ElemeFE/element/issues/12951

$menuBg: #4b678c;
$menuHover: #7390b2;

$subMenuBg: #5479a4;
$subMenuHover: #7390b2;

$sideBarWidth: 210px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
